
#table-header{
	background-color:#AAEC72;
	color:white;
	text-align:center;
	padding: 5px;
	width: 100%;
}
<<<<<<< HEAD
#table-spending,th,td{
	border:1px solid black;
	background-color:#AAEC72;
	color:white;
	text-align:center;
	padding: 5px;
	width: 100%;
  
	border: solid black;
}
#content-highlight{
	background-color:turquoise;	
	align-self: center;
}


.tab{
	margin-left:30px;
	text-indent: 50px;
=======
# header
{
font-family: fantasy;
	font-color:red;
}
# div id header
{
	background-color: cornsilk;
	font-family: sans-serif;
	font-color:red;
>>>>>>> origin/
	td-header-nav{
    width: 100%;
    height: 75px;
    vertical-align: bottom;
    text-align: center;
    font-size: 12pt;
    font-family: fantasy;
    color: white;
}

#div-header-desc{
    text-align: center;
    font-size: 13pt;
    font-family: fantasy;
    color: white;
}

#ul-header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.li-header-nav{
    display: inline;
    float: left;
}
	.a-header-nav{
    display: block;
    padding: 10px;
    background-color: white;
    color: darkred;
    text-decoration: none;
}

.li-header-nav .a-header-nav:hover {
    background-color: bisque;
}