
#table-header{
	background-color:#AAEC72;
	color:white;
	text-align:center;
	padding: 5px;
	width: 100%;
}
<<<<<<< HEAD
#table-spending,th,td{
	border:1px solid black;
	background-color:#AAEC72;
	color:white;
	text-align:center;
	padding: 5px;
	width: 100%;
  
	border: solid black;
}
#content-highlight{
	background-color:turquoise;	
	align-self: center;
}


.tab{
	margin-left:30px;
	text-indent: 50px;
=======
# header
{
font-family: fantasy;
	font-color:red;
}
# div id header
{
	background-color: cornsilk;
	font-family: sans-serif;
	font-color:red;
>>>>>>> origin/master
}