html, body
{
    margin:0;
    padding:0;
   
}
html
{
     background: grey;
    background-image: url(../image/android.jpg)
}

body
{
    width:960px;
    margin: 0 auto;
    padding:30px;
    background: silver;
    font-family: verdana;
}