html, body
{
    margin:0;
    padding:0;
   
}
html
{
     background: grey;
    background-image:url(../image/banner/baanerr.jpg)
}

body
{
    width:960px;
    margin: 0 auto;
    padding:30px;
    background: rgb(227, 169, 31) ;
    font-family: verdana;
}

ul li{
    display: inline-block;
    margin-right:5px;
   
   
}
ul
{
    width:600px;
    
    margin:0 auto;
   
}

li a
{
    text-decoration: none;
}

#banner img
{
   height: 350px;
    width: 100%;
    margin:10px;
   
}
#logo h1
{
    text-align: center;
    font-family: "josefine slab";
}

#navigasi
{
    floating:left;
}
