body {
    background-color: grey;
}

#div-header{
    width: 100%;
    height: 28%;
}

.td-invisible{
    width: 10%;
}

#table-header{
    width: 100%;
}

#td-logo{
    width: 15%;
    text-align: center;
    background-color: grey;
}

#img-logo{
    width: 150px;
    height: 150px;
}

#td-header {
    width: 65%;
    background-color:dodgerblue;
}

#table-header-nav{
    width: 100%;
}

#td-header-title{
    width: 100%;
    height: 75px;
    vertical-align: top;
    text-align: center;
    font-size: 40pt;
    font-family: fantasy;
    color: white;
}

#td-header-nav{
    width: 100%;
    height: 75px;
    vertical-align: bottom;
    text-align: center;
    font-size: 12pt;
    font-family: fantasy;
    color:yellow;
}

#div-header-desc{
    text-align: center;
    font-size: 13pt;
    font-family: fantasy;
    color:yellow;
}

#ul-header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.li-header-nav{
    display: inline;
    float: left;
}

.a-header-nav{
    display: block;
    padding: 10px;
    background-color:dodgerblue;
    color: darkred;
    text-decoration: none;
}

.li-header-nav .a-header-nav:hover {
    background-color: bisque;
}

#div-body{
    width: 100%;
    height: 65%;
}

#table-body{
    width: 100%;  
    height: 100%;
}

#td-body-sidebar{
    width: 15%;
    height: auto;
    border-style: none;
    vertical-align: top;
    text-align: center;
}

#ul-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li-sidebar{
    display: inline;
    float: none;
    font-family: fantasy;
    font-size: 12pt;
}

.a-sidebar{
    display: block;
    padding: 10px;
    background-color:grey;
    color: dodgerblue;
    text-decoration: none;
}

.li-sidebar .a-sidebar:hover {
    background-color:dodgerblue;
    color: darkred;
}

#img-sidebar-ads{
    width: 185px;
    height: 275px;
}

#td-body-content{
    width: 65%;
    height: auto;
    border-style: inset;
    height: 100%;
    vertical-align: top;
    padding: 5pt;
}

.div-content-title{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.div-content-brief{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-align: justify;
}

.img-content{
    width: 230px;
    height: 140px;
    float: left;
    padding-right: 5pt;
}

#div-footer{
    width: 100%;
    height: 9%;
}

#table-footer{
    width: 100%;  
    height: 100%;
}

#td-footer{
    background-color:grey;
    font-size:10pt;
    color: white;
    font-family: fantasy;
    text-align: right;
    padding: 5pt;
}
