body {
    font: 16px/28px arial, sains-serif;
    background-color: bisque;
    background-image: url(buatbackmixer.jpg) 
    }

.container{
    width: 800px;
    margin: auto;
    background-color: green;
}
#div-header{
    width: 100%;
    height: 28%;
}

#wrapper
{
    text-align: left
    width: 100%;
  
}

#table-header{
    width: 100%;
}

#td-logo{
    width: 10%;
    text-align: center;
    background-color: white;
}

#img-logo{
    width: 100px;
    height: 100px;
}

#td-header {
    width: 100%;
    background-color:white;
}

#table-header-menu{
    width: 100%;
    
}

#td-header-title{
    width: 100%;
    height: 75px;
    vertical-align: top;
    text-align: center;
    font-size: 40pt;
    font-family: fantasy;
    color: black;
}

#td-header-nav{
    width: 100%;
    height: 75px;
    vertical-align: bottom;
    text-align: center;
    font-size: 12pt;
    font-family: fantasy;
    color: limegreen;
}

#td-body-content{
    font-size: 20px;
    color: black;
    background: green;
    
}

#div-header-desc{
    text-align: center;
    font-size: 12pt;
    font-family: fantasy;
    color: blue;
}

#ul-header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.li-header-nav{
    display: inline;
    float: left;
}

.a-header-nav{
    display: block;
    padding: 10px;
    background-color: white;
    color: darkred;
    text-decoration: none;
}

.li-header-nav .a-header-nav:hover {
    background-color: greenyellow;
}

#div-body{
    clear: both;
    margin: auto;
    float: right;
    width: 100%;
    
}

#table-body{
    width: 100%;  
    height: 100%;
}

#td-body-alamat
{
    width: 15%;
    height: auto;
    border-style: none;
    vertical-align: top;
    text-align: center;
}

#td-body-image {
    list-style-type: none;
    text-align: center
    margin: 0;
    padding: 0;
}

.li-alamat{
    display: inline;
    float: none;
    font-family: fantasy;
    font-size: 12pt;
}

.a-alamat{
    display: block;
    padding: 10px;
    background-color: orangered;
    color: white;
    text-decoration: none;
}

.li-alamat .a-alamat:hover {
    background-color: bisque;
    color: darkred;
}

#img-alamat-ads{
    width: 185px;
    height: 275px;
}

#td-table-content{
    border-style: center;
    
}
   
 
#td-body-content{
    width: 100%;
    height:;
    border-style:;
    height: 100%;
    vertical-align: text-bottom;
    padding: 5pt;
    float: center;
}

.div-content-title{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: bold;
    border-style: none;
}

.div-content-brief{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-align: justify;
}

.img-content{
    width: 230px;
    height: 140px;
    float: left;
    padding-right: 5pt;
}

#div-footer{ 
    clear: both;
    position: relative;
    width: 100%;
    height: 9%;  
    float: left;
    
}

#table-footer{
    width: 100%;  
    height: 100%;
}

body
{
    color:black;
}

.footer
{
    padding: 5pt;
    font-size: 11pt;
    text-align: center;
    background-color: white;
    color: black;
    font-family: fantasy;
}


.barispertama
{
    
    
}
